/* css units */

/* absolute unist : pc=> picas,px=> pixel,pt=> point,cm=>cantimetr,in=>inch,mm=>milimetr */
/* height => |  and width => -- */

/* pixle unit => px*/
h1{
    width : 400px;
    height: 200px;
    background-color: sienna;
}

/* centimetre => cm */
h1{
    width: 100cm;
    height: 20cm;
}

/* milimeter => mm */
h1{
    width: 100mm;
    height: 20mm;
}

/* inch => in */
h1{
    width: 100in;
    height: 20in;
}

/* point => pt */
h1{
    width: 100pt;
    height: 20pt;
}

/* pica => pc */
h1{
    width: 100pc;
    height: 20pc;
}



/* relative units => em,rem,vw,vh,% */

/* % */
h1{
    width: 50%;
}

/* relative length depending on font */

/* problem */
#first{
    display: inline;
    font-size: 20pt;
    /* 1em = 20pt */
    background: royalblue;
    padding: 30px;
}

#second{
    display: inline;
    font-size: 1em; /*1em = 16px*/
    /* 1em = 50pt */
    background-color: seagreen;
    padding: 30px;
}

/* -------------------------------------- */
/* 1em = font-size element */

#first{
    padding: 1em;/* 20pt*/
}

#second{
    padding: 2em;/* 2 * 16px */
}

/* -------------------------------------- */
/* 1rem = font-size of html tag */

#first{
    padding: 1rem; /*1rem = 16px*/

}

#second{
    padding: 2rem;/* 2 * 16px */
    color: red;
}

/* -------------------------------------- */
/* relative length depending view port */


/* vw => viewport width  */
/* vh => viewport height */
p{
    background-color: gray;
    width: 50vw;
    height: 50vh;
}

.diff{
    background-color: green;
    width: 500px;
    height: 700px;
    color: white;
}

h1{
    width: 50%;
}

.paragraph{
    background-color: greenyellow;
    width: 800px;
    height: 500px;
}


/* -------------------------------------- */
/* Inheritance in css */

/* inherit */

button{
    color: inherit;
    background-color: inherit;

}

/* initial */

h1{
    color: initial;
}
