/* colors in css */

/* colors name  */

p.color1{
    color: green; /* color name */
}

/* keywords transparent */

p.color2{
    color: transparent;
    background-image: linear-gradient(red, yellow);
    -webkit-background-clip: text;
}


button{
    background-color: transparent;
}

/* keywords currentColor */

div{
    color: blue;
    background-color: currentColor;
    border-color: currentColor;
}

/* rgb color  => red vlue green color */

p.color3{
    color: rgb(255,255,255);
    background-color: rgb(0, 51, 0);
}

/* rgba color  => red vlue green alpha color */
/* alpha is for define opacity */

p.color4{
    background-color: rgba(255, 0, 0, 0.3);
}

/* hsl color => hue saturation lightness color */

p.color5{
    background-color: hsl(260, 90%, 50%) ;
}

/* hsla color => hue saturation lightness color alpha */
/* alpha is for define opacity */

p.color6{
    background-color: hsla(270, 50%, 50%, 0.7);
}

